<div *ngIf="service.activeStock && service.latestQuote">
  <mat-grid-list cols="3" rowHeight="160">
    <mat-grid-tile colspan="2">
      <app-symbol-quote [stock]="service.activeStock" style="width: 100%"></app-symbol-quote>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-buy-sell-panel
        *ngIf="authService.isAuthenticated()"
        [symbol]="service.activeStock.symbol"
        [latestPrice]="service.latestQuote.close"
        style="width: 100%"
      ></app-buy-sell-panel>
    </mat-grid-tile>
  </mat-grid-list>
  <app-chart [symbol]="service.activeStock.symbol"></app-chart>
</div>
